<!-- <p class="bg-slate-300">learn works!</p> -->

<div class="learn_header">
  <h1 class="bg-red-400 font-mono w-full h-20 text-center text-6xl">
    Welcome to Trading
  </h1>
  <div class="container">
    <div
      class="flex text-center font-serif text-4xl justify-end align-bottom p-10 border rounded-3xl mt-10"
    >
      <a
        routerLink=""
        class="bg-purple-400 flex justify-center w-52 h-10 p-10 font-bold border border-fuchsia-700 rounded-3xl hover:text-black ease-in duration-300"
        (click)="openInNewPage('vedio')"
        >Vedios</a
      >
    </div>

    <div
      class="flex font-serif text-center text-4xl p-10 border rounded-3xl mt-10"
    >
      <a
        routerLink=""
        class="bg-pink-400 flex justify-center font-bold w-8 border border-fuchsia-700 rounded-3xl hover:text-black ease-in duration-300"
        (click)="openDocumnets('Documents')"
        >Documents</a
      >
    </div>
  </div>
  <div class="flex items-center">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img
            src="https://e7.pngegg.com/pngimages/348/406/png-clipart-wall-street-investment-business-market-trade-company-people.png"
            class="w-full h-100 img-fluid rounded-start border p-4 bg-fuchsia-400"
          />

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
              <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col mt-20">
        <div class="card">
          <img
            src="https://w7.pngwing.com/pngs/582/406/png-transparent-forex-trading-design-elments-coins-charts-sketch.png"
            class="w-full h-96"
          />

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
              <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col mt-20">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..." />
           -->
          <img
            src="https://xtb.scdn5.secure.raxcdn.com/kb_main_photo/0102/92/9ecbe35a-70bc-4b2e-80aa-74c65b57e09f/kb_main_photo_front/1-trading-what-is-it.png"
            class="w-full h-96"
          />

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
              <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col mt-20">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..." />
           -->
          <img
            src="https://w7.pngwing.com/pngs/582/406/png-transparent-forex-trading-design-elments-coins-charts-sketch.png"
            class="w-full h-96"
          />

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
              <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
